.site-footer {
  background: url('img/crumpled-paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 15px 25px 15px;
  position: relative;

  .site-footer__overlay {
    background-color: black;
    height: 100%;
    left: 0px;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .site-footer__content-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1400px;
    position: relative;

    .site-footer__content-container__left {
      color: white;

      a {
        color: white;
        text-decoration: none;
      }
    }

    .site-footer__content-container__right {

      img {
        height: 50px;
      }
    }
  }
}