body.admin-bar {
  #masthead {
    top: 32px;
  }
}

#masthead {
  background-color: #e95640;
  color: #e95640;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  position: fixed;
  height: 50px;
  top: 0;
  width: 100vw;
  z-index: 2;

  #masthead-content {
    display: flex;
    height: 100%;
    flex-direction: row;
    margin: 0px auto;
    max-width: 1400px;
    .site-branding, #site-navigation {
      width: 50%;
    }
    .site-branding {
      padding: 0px 25px;
      position: relative;

      .custom-logo {
        bottom: -48px;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
        position: absolute;
        rotate: -9.3deg;
        width: 150px;
        z-index: 1;
      }
    }

    .site-title {
      display: none;
    }

    #site-navigation {
      a {
        align-items: center;
        color: white;
        display: flex;
        height: 100%;
        padding: 0px 15px;
        font-size: 18px;

        &:hover {
          color: black;
        }
      }
    }
  }
}

#page-tear__header {
  margin-top: -1px;
  rotate: 180deg;
}

#primary-menu {
  height: 100%;
  justify-content: flex-end;

  .nav-menu {
    height: 100%;
    justify-content: flex-end;
  }
}

.menu-menu-1-container {
  height: 100%;
}