/** Source for all SCSS files when compiling **/

@import 'header';

// Default font
body {
  font-family: 'Special Elite', sans-serif !important;
}

.page-tear-effect {
  fill: currentColor;
  stroke-width: 0;
  stroke: currentColor;
}