/** Source for all SCSS files when compiling **/

@import 'header';
@import 'footer';
@import 'smash-balloon';
@import 'archive';

// Default font
* {
  overscroll-behavior: none;
}

body {
  font-family: 'Special Elite', sans-serif !important;
  margin: 0px !important;
}

h1, h2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  display: inline-block;
  font-family: 'Permanent Marker', sans-serif !important;
  padding: 8px 50px;
}
h3 {
  font-size: 20px;
}
h2 {
  font-size: 20px;
}


h1 {
  background-image: url('img/tape-1.png');
  @media (min-width: 601px) {
    font-size: 40px !important;
  }
  @media (max-width: 600px) {
    font-size: 30px !important;
  }
}

.wp-block-button__link {
  border-radius: 0px !important;
  color: white !important;
}

.page-tear-effect {
  fill: currentColor;
  position: absolute;
  stroke-width: 0;
  stroke: currentColor;
  z-index: 2;
}

.page-tear-effect-top {
  bottom: calc(100% - 1px);
}

.page-tear {
  position: relative;
}

.d-none {
  display: none;
}

#primary {
  padding-top: 50px;
  position: relative;
}

.entry-content {
  margin-top: 0px !important;
}

.gap__50 {
  gap: 50px;
}

.max-width__800 {
  margin: 0px auto;
  max-width: 800px;
}

.padding__50-0 {
  padding: 50px 0px;
}
.page-tear__top {
  bottom: calc(100% - 1px);
}
.page-tear__bottom {
  top: calc(100% - 1px);
  rotate: 180deg;
}
.content-section {
  margin: 0px auto;
  max-width: 975px;
  padding: 50px 15px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex !important;
  flex-direction: row;
  gap: 15px;
}


#single-page-header {
  align-items: center;
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;

  h1 {
    position: relative;
  }
}

#single-page-header__image {
  opacity: 0.7;
  position: absolute;

  @media (max-width: 600px) {
    img {
      height: 100%;
      max-width: none !important;
      width: auto !important;
    }
  }
}
.site-main {
  padding-bottom: 28.25px;
}
//body.admin-bar {
//  #primary {
//    margin-top: 250px;
//  }
//}