/** Source for all SCSS files when compiling **/
body.admin-bar #masthead {
	top: 32px;
}

#masthead {
	background-color: #e95640;
	color: #e95640;
	filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
	position: fixed;
	height: 50px;
	top: 0;
	width: 100vw;
	z-index: 4;
}

#masthead #masthead-content {
	display: flex;
	height: 100%;
	flex-direction: row;
	margin: 0px auto;
	max-width: 1400px;
}

#masthead #masthead-content .site-branding, #masthead #masthead-content #site-navigation {
	width: 50%;
}

#masthead #masthead-content .site-branding {
	padding: 0px 25px;
	position: relative;
}

#masthead #masthead-content .site-branding .custom-logo {
	bottom: -48px;
	filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
	position: absolute;
	rotate: -9.3deg;
	width: 150px;
	z-index: 4;
}

#masthead #masthead-content .site-title {
	display: none;
}

#masthead #masthead-content #site-navigation a {
	align-items: center;
	color: white;
	display: flex;
	height: 100%;
	padding: 0px 15px;
	font-size: 18px;
}

#masthead #masthead-content #site-navigation a:hover {
	color: black;
}

#page-tear__header {
	margin-top: -1px;
	rotate: 180deg;
}

#primary-menu {
	height: 100%;
	justify-content: flex-end;
}

#primary-menu .nav-menu {
	height: 100%;
	justify-content: flex-end;
}

.menu-menu-1-container {
	height: 100%;
}

.site-footer {
	background: url("img/crumpled-paper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 75px 15px 25px 15px;
	position: relative;
}

.site-footer .site-footer__overlay {
	background-color: black;
	height: 100%;
	left: 0px;
	opacity: 0.7;
	position: absolute;
	top: 0px;
	width: 100%;
}

.site-footer .site-footer__content-container {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-between;
	margin: 0px auto;
	max-width: 1400px;
	position: relative;
}

.site-footer .site-footer__content-container .site-footer__content-container__left {
	color: white;
}

.site-footer .site-footer__content-container .site-footer__content-container__left a {
	color: white;
	text-decoration: none;
}

.site-footer .site-footer__content-container .site-footer__content-container__right img {
	height: 50px;
}

#sbi_images {
	display: flex !important;
	flex-direction: column;
}

#sbi_images h2 {
	text-align: center;
	width: 100%;
}

.sbi_photo_wrap {
	max-width: 300px;
}

.sbi_photo {
	margin-top: 18px !important;
	max-width: 300px;
	width: 300px;
}

.sbi_text_force {
	padding: 15px;
	white-space: break-spaces;
}

.archive-contents {
	display: flex;
	flex-direction: row;
	padding: 0px 48px;
	gap: 10px;
}

.archive-contents .widget-area {
	padding: 10px;
	width: 275px;
}

.archive-contents .widget-area .wpc-filters-section {
	background-color: #F6F6F6;
	max-width: 100% !important;
	padding: 13px;
	width: 100% !important;
}

.archive-contents .widget-area .wpc-filter-search-field {
	background-color: #F0F0F0;
	border: 1px solid #CBCBCB;
	border-radius: 0px;
}

.archive-contents .widget-area .wpc-filter-search-field::placeholder {
	color: #CBCBCB !important;
}

.archive-contents .widget-area .wpc-filters-ul-list {
	margin-bottom: 0px;
	max-height: 140px !important;
	overflow-x: hidden !important;
	position: relative;
}

.archive-contents .widget-area .wpc-filters-ul-list li {
	margin-bottom: 0px;
}

.archive-contents .widget-area .wpc-filters-ul-list .ps__rail-y {
	background-color: #e7e7e7;
	opacity: 1 !important;
	width: 8px;
	visibility: visible !important;
}

.archive-contents .widget-area .wpc-filters-ul-list .ps__thumb-y {
	border-radius: 0px;
	opacity: 1 !important;
	right: 0;
	width: 100%;
}

.filter-results {
	display: flex;
	flex-direction: row;
	gap: 25px;
	padding: 10px;
}

.filter-results article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
}

.filter-results article h3 {
	margin-bottom: 0px;
}

.filter-results article .entry-header {
	width: 100%;
}

.filter-results article .entry-content {
	width: 100%;
}

.filter-results article .entry-content .entry-content__publish-date {
	color: #E95640;
	font-size: 13px;
	width: 100%;
}

.filter-results article .entry-content .entry-content__issue-number {
	font-size: 13px;
}

.wpc-custom-selected-terms ul.wpc-filter-chips-list {
	flex-wrap: wrap;
}

.issue-cover {
	display: flex;
	align-items: center;
	height: 330px;
}

.issue-cover a {
	height: 100%;
}

.issue-cover a img {
	max-height: 100% !important;
	max-width: auto;
	width: auto !important;
}

* {
	overscroll-behavior: none;
}

body {
	font-family: 'Special Elite', sans-serif !important;
	margin: 0px !important;
}

h1, h2 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: black;
	display: inline-block;
	font-family: 'Permanent Marker', sans-serif !important;
	padding: 8px 50px;
}

h3 {
	font-size: 20px;
}

h2 {
	font-size: 20px;
}

h1 {
	background-image: url("img/tape-1.png");
	font-size: 40px !important;
}

.wp-block-button__link {
	border-radius: 0px !important;
}

.page-tear-effect {
	fill: currentColor;
	position: absolute;
	stroke-width: 0;
	stroke: currentColor;
	z-index: 2;
}

.page-tear-effect-top {
	bottom: calc(100% - 1px);
}

.page-tear {
	position: relative;
}

.d-none {
	display: none;
}

#primary {
	padding-top: 50px;
	position: relative;
}

.entry-content {
	margin-top: 0px !important;
}

.gap__50 {
	gap: 50px;
}

.max-width__800 {
	margin: 0px auto;
	max-width: 800px;
}

.padding__50-0 {
	padding: 50px 0px;
}

.page-tear__top {
	bottom: calc(100% - 1px);
}

.page-tear__bottom {
	top: calc(100% - 1px);
	rotate: 180deg;
}

.content-section {
	margin: 0px auto;
	max-width: 975px;
	padding: 50px 15px;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex !important;
	flex-direction: row;
	gap: 15px;
}

#single-page-header {
	align-items: center;
	background-color: black;
	background-repeat: no-repeat;
	display: flex;
	height: 300px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 100vw;
}

#single-page-header h1 {
	position: relative;
}

#single-page-header__image {
	opacity: 0.7;
	position: absolute;
}

.site-main {
	padding-bottom: 28.25px;
}

/*# sourceMappingURL=main.css.map */